body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(241,241,241);
}
.blog-head {
    text-align: center;
    margin-bottom: 3em;
}
.post-img {
    width: calc(100% + 1em);
    height: 50%;
    padding: 0;
    margin: -.5em;

}
main {
    width: 100%;
}
.blog-content {
    position: absolute;
    top: 20%;

}
.pop-section {
    position: absolute;
    right: 10%;
    bottom: 30%;
}
.blog-entry {
    box-shadow: lightslategray 3px 5px 5px 5px;
    padding: .5em;
    overflow: auto;
    margin: 2em;
    width: 50%;
    background-color: white;

}
.my-name {
    box-shadow: lightslategray 3px 5px 5px 5px;
    padding: .5em;
    margin: 2em;
    display: inline-block;
    width: 30%;
    float: right;
    position: absolute;
    top: 20%;
    left: 80%;

}
.entry-heading {
    margin: .5em 0 1em .5em;
    font-weight: normal;
}
.entry-body {
    margin: 0 .5em
}
.muted-date {
    color: gray;
}
.btn-readmore {
    border: 1px solid lightgrey;
    padding: 1em;
    margin: .5em;
    box-sizing: border-box;
    float: left;
}
.comments {
    float: right;
    text-decoration: none;
    color: black;
    line-height: 50px;
    margin: .5em 1.5em .5em .5em;
}
.entry-footer {
    
}
.pop-image {
    width: 30px;
    height: 30px;
    float: left;
    display: inline-block;
}
.aside-header {
    background-color: rgb(241,241,241);
}
.pop-post p {
    float: right;
    font-weight: bold;
    display: inline-block;
}